<link rel="stylesheet" href="/css/footer.css">

<footer>
    <div class="upper-footer">
        <div class="logo-footer"><a href="/">WellBite</a></div>
        <div class="country">
            <div class="flag"> </div> 
           <div class="cname">India &nbsp;&nbsp;<i class="fa-solid fa-angle-down"></i></div>
        </div>
        <div class="lang">
           <div class="globe"><i class="fa-solid fa-globe"></i></div> 
           <div class="language">English&nbsp;&nbsp; <i class="fa-solid fa-angle-down"></i></div> 
        </div>
    </div>

    <div class="about-site-menu">
        <div class="about-f">
            <h2>About WellBite</h2>
            <ul>
                <li>Who we are</li>
                <li>Blog</li>
                <li>Work with us</li>
                <li>Investor relation</li>
                <li>Report Fraud</li>
                <li>Press Kit</li>
                <li>Contact Us</li>
            </ul>
        </div>

        <div class="Wellverse">
            <h2>Wellverse</h2>
            <ul>
                <li>WellBite</li>
                <li>Feeding india</li>
                <li>Hiperpure</li>
                <li>Wellbite live</li>
                <li>weather union</li>
            </ul>
        </div>

        <div class="for">
            <h2>For Restaurants</h2>
            <ul>
                <li>Partner with us</li>
                <li>Apps for you</li>
            </ul>
        </div>

        <div class="learn">
            <h2>Learn More</h2>
            <ul>
                <li> Privacy</li>
                <li>Security</li>
                <li>Terms</li>
            </ul>
        </div>

        <div class="links">
            <h2>Social Links</h2>

            <div class="link">
                <div class="linkdein"><i class="fa-brands fa-linkedin"></i></div>
            <div class="insta"></div>
            <div class="utube"><i class="fa-brands fa-youtube"></i></div>
            <div class="FB"><i class="fa-brands fa-facebook"></i></div>
            <div class="whtp"><i class="fa-brands fa-square-whatsapp"></i></div>
            </div>
            
        </div>

    </div>


</footer>