<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WellBite</title>
    <link rel="stylesheet" href="/css/page.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <div class="header-container">
        <%- include("../includes/header.ejs") %>
    </div>
    <div class="body-container">
        <%- include("../includes/flash.ejs") %>

            <%- body %>
    </div>
    <div class="footer-container">
        <%- include("../includes/footer.ejs") %>
    </div>
    
</body>
</html>

