<% layout("/layouts/boilerplate") %>
    <link href="/css/about.css" rel="stylesheet">
    <div class="main">
        <div class="about-container1">
            <div class="about-1">
                <h2><i class="fa-brands fa-envira" style="color: green;"></i> Our Mission</h2>
                <p>At WellBite , we are dedicated to helping individuals lead healthier
                    lives through personalized food recommendations tailored to their unique needs.
                    Whether you are a patient recovering from a medical condition or a health-conscious
                    individual looking to maintain a balanced diet, our platform serves as your reliable
                    caretaker in the journey towards better health.
                </p>
            </div>
            <div class="img"
            style="background-image: url('https://transcode-v2.app.engoo.com/image/fetch/f_auto,c_lfill,w_300,dpr_3/https://assets.app.engoo.com/images/NENQBWop6BPMV06KdwCbb9uM6jwQF9Ntf8Utg6OQR0B.jpeg');  height: 200px; ">

            </div>
        </div>
        <div class="about-container1" style="padding-left: 40px;">
            <div class="img" style="background-image: url('https://bl-i.thgim.com/public/blink/takeaway/1qjl63/article26743768.ece/alternates/FREE_1200/BLinkHospital'); height: 420px;"></div>
            <div class="about-1">
                <h2><i class="fa-solid fa-hospital-user" style="color: red;"></i> For Patients</h2>
                <br>
                <i class="fa-solid fa-star"></i> <b>Personalized Recovery</b> : By entering the name of your disease, you can access a curated list of
                ingredients that
                aid in your recovery. We analyze our extensive database, which connects specific diseases with
                beneficial foods,
                ensuring that you receive the best dietary advice.<br>
                <i class="fa-solid fa-star"></i> <b>Doctor's Recommendation Tool</b> : Healthcare professionals can utilize our platform to suggest the best
                foods for
                their patients, promoting a more holistic approach to recovery.
                Enjoyable Eating: Even while managing medical issues, you can explore a variety of tasty and diverse
                foods daily.
                Our goal is to make healthy eating enjoyable and fulfilling.<br>
                <i class="fa-solid fa-star"></i> <b>Recipe Recommendations</b>: Once you input your disease, we check our database for suitable ingredients and
                request
                detailed recipes from RecipeDB, providing you with delicious options that are rich in the nutrients you
                need to
                recover quickly.

            </div>
        </div>

        <div class="about-container1">
            <div class="about-1">
                <h2><i class="fa-solid fa-user" style="color: blue;" ></i> For Normal Users</h2>
               <br>
                <i class="fa-solid fa-star"></i> <b>Weekly Food Pattern Analysis & Personalized Recommendations</b>: Our recommendation engine analyzes your
                food
                consumption patterns, offering personalized suggestions that align with your habitual preferences while
                introducing
                you to new flavors.<br>
                <i class="fa-solid fa-star"></i> <b>Ingredient-Based Recommendations from Search History</b>: We leverage your previous searches to suggest new
                dishes that
                utilize similar or complementary ingredients, promoting sustainability and mindful cooking.<br>
                <i class="fa-solid fa-star"></i> <b>Health-Conscious Recommendations for Fitness Enthusiasts</b>: By analyzing the nutritional profiles of your
                past orders,
                we recommend popular, nutritious recipes that align with your fitness and health goals.<br>
                <i class="fa-solid fa-star"></i> <b>Nutritional Tracking for Consistent Healthy Eating Habits</b>: Our platform monitors your food choices,
                ensuring you
                receive suggestions that reinforce healthy eating habits based on your recent dietary patterns.

            </div>
            <div class="img" style="background-image:url('https://img.freepik.com/premium-photo/testy-food-image-jpg_1107919-899.jpg'); height: 420px;"></div>
        </div>

        <div class="about-container1">
            <div class="img"
            style="background-image: url('https://miro.medium.com/v2/resize:fit:1000/1*sY1vrsIs_OyKhUBOoYc7OA.jpeg');
            height: 250px;"
            ></div>
            <div class="about-1">
                <h2> <i class="fa-solid fa-file-signature"></i> Why We're Different</h2>
                While platforms like Swiggy and Zomato focus on food delivery,
                our website stands out as a unique caretaker for both patients
                and health-conscious individuals. We recognize that there are currently no dedicated
                services in the market specifically addressing the dietary needs of those with medical conditions.
                Our aim is to fill this gap by providing a comprehensive resource that empowers users to make
                informed food choices, regardless of their health status.
            </div>
        </div>
        <div class="about-container1">
            <div class="about-1">
                <h2><i class="fa-solid fa-face-smile" style="color: orange;"></i> Join Us</h2>
                We invite you to explore our platform and discover how we can help you or
                your loved ones on the path to better health. Together, we can make nutritious
                eating accessible, enjoyable, and tailored to your individual needs.
            </div>
            <div class="img" style="background-image: url('https://i.pinimg.com/736x/84/51/b8/8451b84c680175cffca60af1d2106207.jpg'); height: 200px;"></div>
        </div>
    </div>