<% layout("/layouts/boilerplate") %>

<link rel="stylesheet" href="/css/search_page.css">



<div class="search-container">
    
    <div class="search-inner-container">
        <div class="title">Do you have any dietary needs or health concerns we should be aware of?</div>
        <a href="/search_page_patient"> <div class="btn">Yes</div></a>
        <a href="/search_page_regular"><div class="btn">No</div></a>
    </div>
    <div class="stethoscope-box">
        
    </div>
</div> 