<% layout("/layouts/boilerplate") %>
<link href="/css/placeOrder.css" rel="stylesheet">

<div class="order-success">
    <i class="fa-solid fa-check-circle"></i>
    <h1>Order Placed Successfully!</h1>
    <p>Thank you for your order! Your order is on its way and will be with you soon.</p>
    <a href="/" class="continue-shopping-button">Continue Order</a>
</div>
